* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fb;
  font-family: "Karla", sans-serif !important;
  width: 100%;
  height: 100vh;
}
.start {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.start__text {
  text-align: center;
  color: #293264;
  width: 412px;
}
.start__heading {
  font-weight: 700;
}
.start__description {
  margin-top: 20px;
  font-weight: 400;
}
.start__button {
  font-family: "Karla", sans-serif !important;
}
.start__blob1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.start__blob2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.quiz__question {
  user-select: none;
}
.quiz__answers button {
  color: #293264 !important;
  border: solid 2px #4d5b9e !important;
  background-color: #f5f7fb !important;
  font-family: "Karla", sans-serif !important;
  border-radius: 20px;
}
.check-answers {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.question__blob1 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.question__blob2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.quiz__answers button.active {
  background-color: #d6dbf5 !important;
  border: 2px solid #d6dbf5 !important;
}
.quiz__answers button.inactive {
  background-color: #f5f7fb !important;
  border: 2px solid #4d5b9e !important;
}
.quiz__answers button.red {
  background-color: red !important;
  color: #fff !important;
}
.quiz__answers button.green {
  background-color: green !important;
  color: #fff !important;
}
